BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Attach
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 1
DerivePointerAlignment: false
PointerAlignment: Right
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
SortIncludes: false
IndentCaseLabels: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
ColumnLimit: 100
MaxEmptyLinesToKeep: 1
AlwaysBreakTemplateDeclarations: true
Standard: Cpp11